* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url('imagens/climas.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    transition: background-color 0.5s ease;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: rgba(25, 7, 219, 0.505); /* Fundo azul claro */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    display: inline-block; /* Para ajustar o fundo ao tamanho do texto */
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 1.2em;
    width: 300px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(128, 1, 255);
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff0000;
}

.resultado-clima {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultado-item {
    background: #007BFF; /* Fundo claro */
    color: #ffffff; /* Texto claro */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #007BFF;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

li:hover {
    background: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    input[type="text"] {
        width: 80%;
    }

    button {
        width: 80%;
    }

    .resultado-clima {
        width: 90%;
        margin: 20px auto;
    }
}
